* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.chat-container {
    width: 80%;
    margin: 0 auto;
    height: 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}

.green-main-background {
    height: 20vh;
    background-color: #009688;
}

.grey-main-background {
    height: 80vh;
    background-color: #d9dbd4;
}


.dark-mode {
    background-color: #222;
    color: #fff;
}
/* left side */
#chat-info {
    border-right: 1px solid #dfdfdf;
    width: 30%;
}

.my-profile-information {
    min-height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 40px;
    margin-right: 10px;
}

.notification {
    height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.notification a {
    color: #688b95;
    font-size: 14px;
}

.bell {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    margin-left: 9px;
}

.search-bar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    /* background-color: #fff; */
}

.icon-input {
    width: 10%;
    border: 1px solid #f6f6f6;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-input .fa-magnifying-glass {
    justify-content: center;
}

.search-bar input {
    width: 89%;
    padding: 7px;
    border: 1px solid #f6f6f6;
}

.column-users {
    height: calc(100% - 190px);
    overflow-y: auto;
    /* background-color: #fff; */
}

.column-user li:hover {
    cursor: pointer;
}

.chat-users img {
    width: 45px;
    margin-right: 10px;
}

.chat-users {
    display: flex;
    padding: 10px;
    position: relative;
}

.date {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 10px;
}

.active {
    background-color: #dedede;
}

.chat-users.active:hover {
    background-color: #dedede;
}

.chat-users:hover {
    background-color: #fafafa;
}

/* right-part */
#chat-display {
    width: 70%;
}

.user-information {
    min-height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* right main */
.chat-messages {
    height: calc(100% - 140px);
    background-image: url("../img/wallpaperflare.com_wallpaper(7).jpg");
    background-size: cover;
    overflow-y: auto;
}

.row {
    width: 100%;
}

.message-container {
    width: 100%;
    padding: 0 100px;
    display: flex;
}

.message-sent {
    display: flex;
    justify-content: flex-end;
}

.message-received {
    display: flex;
    justify-content: flex-start;
}

.bg-received {
    background-color: #fff;
}

.bg-sent {
    background-color: #d5f9ba;
}

.chat-messages p {
    max-width: 50%;
    min-width: 35%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2% 0 1%;
    position: relative;
    font-size: 18px;
}

.chat-messages span {
    position: absolute;
    bottom: 2px;
    right: 10px;
}

span {
    font-size: 12px;
    color: #bfc1c3;
}

.last-access{
    margin-right: 3px;
}

/* right bottom */
.chat-input {
    background-color: #f3eeea;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    width: 90%;
}

.text input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

/* icons color & margin */
.fa-regular,
.fa-solid {
    color: #b1b1b1;
}

.fa-circle-notch,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-message,
.fa-paperclip {
    margin-right: 18px;
}

.search-bar .fa-magnifying-glass {
    margin-left: 20px;
}

/* left icons */
.fa-bell-slash {
    color: #8edafb;
    font-size: 1rem;
}

/* bottom icons*/
.fa-microphone {
    font-size: 1.2rem;
}

.fa-face-smile {
    font-size: 1.2rem;
}