* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

/* left side */
.left-part {
    border-right: 1px solid #dfdfdf;
    width: 30%;
    height: 100%;
}

.left-top {
    height: 9vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 40px;
    margin-right: 10px;
}

.notification {
    height: 10vh;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.notification a {
    color: #688b95;
    font-size: 14px;
}

.bell {
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}

.search-bar {
    height: 7vh;
    padding: 10px;
    display: flex;
    align-items: center;
}

.icon-input {
    width: 10%;
    border: 1px solid #f6f6f6;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 90%;
    padding: 9px;
    border: 1px solid #f6f6f6;
}

.left-main {
    height: calc(100% - 26vh);
    overflow-y: scroll;
}

.left-main li:hover{
    cursor: pointer;
}

.chat-users img {
    width: 50px;
    margin-right: 10px;
}

.chat-users{
    display: flex;
    padding: 10px;
    position: relative;
}

.date{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 10px;
}

.active{
    background-color: #e9ebeb;
}

.chat-users:hover {
    background-color: #fafafa;
}

/* right-part */
.right-part {
    width: 70%;
    height: 100%;
}

.right-top {
    height: 9vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* right main */
.right-main {
    height: calc(100% - 18vh);
    display: flex;
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
}

.row{
    width: 100%;
    overflow-y: auto;
    
}

.message-container {
    width: 100%;
    padding: 0 100px;
    display: flex;
    
}

.message-sent{
    display: flex;
    justify-content: flex-end;
    
}

.message-received{
    display: flex;
    justify-content: flex-start;
    
}

.bg-received{
    background-color: #fff;
}


.bg-sent{
    background-color: #d5f9ba;
}

.right-main p {
    width: 30%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2% 0 1%;
}

/* right bottom */
.right-bottom {
    background-color: #f3eeea;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 85%;
}

.text input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* icons color & margin */
.fa-regular,
.fa-solid {
    color: #b1b1b1;
}

.fa-circle-notch,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-message,
.fa-paperclip {
    margin-right: 18px;
}

/* left icons */
.fa-bell-slash{
    font-size: 20px;
    color: #8edafb;
}

/* bottom icons*/
.fa-microphone {
    font-size: 20px;   
}

.fa-face-smile {
    font-size: 20px;
}
